body {
  background: #9D50BB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6E48AA, #9D50BB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6E48AA, #9D50BB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}

.home-styles {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* hiding the error popup on web browser until i can figure out why error */
nextjs-portal {
  display: none;
}

.footer {
  background-color: transparent;
  height: 125px;
}

.footer-card {
  padding-top: 2rem;

}

.discord-img {
  height: 20px;
}

.logo-nav {
  width: 50px;
}

.navbrand-style {
  padding-left: 1rem;
}

.nav-transparent {
  background-color: transparent;
}

.nav-container {
  font-weight: 450;
}

.navbar {
  color: white !important;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.player-account {}

.container-styles {
  padding: 1rem;
}

.card-bg {
  background-color: rgba(255, 255, 255, 0.75);
}

.navbar .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.75);
}

.gallery {
  max-height: 550px;
  object-fit: cover;
}

/* Table Styles */
.custom-react-table .tabulator {
  font-family: Arial, sans-serif;
  /* Change the font family */
  font-size: 14px;
  /* Adjust font size */
  border: 1px solid #ccc;
  /* Border around the table */
}

.custom-react-table .tabulator-header {
  background-color: #f4f4f4;
  /* Header background color */
  color: #333;
  /* Header font color */
  font-weight: bold;
  /* Make header font bold */
}

.custom-react-table .tabulator-row {
  border-bottom: 1px solid #eee;
}

.custom-react-table .tabulator .tabulator-cell {
  padding: 8px;
  border-right: 1px solid #eee;
  white-space: pre-wrap !important; 
  word-wrap: break-word !important; 
  overflow-wrap: break-word !important;
  vertical-align: top !important; 
  text-align: left !important; 

}

.custom-react-table .tabulator-cell:last-child {
  border-right: 0;
  /* Remove right border for the last cell */
}

.custom-react-table .tabulator-row:hover {
  background-color: #f9f9f9;
  /* Row hover background color */
}

.custom-react-table .tabulator-col {
  text-align: left;

}


.custom-react-table .tabulator-col[tabulator-field="enchantName"] {
  text-align: center;
}


@media (max-width: 768px) {
  .custom-react-table .tabulator-cell {
    padding: 4px;
  }
}